# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
/media/
static/
.env
*.log

# Node
frontend/main/node_modules/
frontend/main/dist/
npm-debug.log

# IDE
.idea/
.vscode/
*.iml

# Docker
*.pid
*.sock
