@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #000;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
